[project]
name = "portfolio-backend"
version = "1.0.0"
requires-python = ">=3.12"
dependencies = [
    "pip==23.3",
    "setuptools==68.0.0",
    "wheel==0.40.0",
    "neurolink",
    "djangorestframework==3.14.0",
    "Django~=4.2.3",
    "django-cors-headers",
    "pycryptodome",
]

[tool.uv]
# This forces uv to ignore what neurolink expects and patches it with your required version
override-dependencies = [
    "pip==23.3"
]